<section class="hatena-star">
    <script type="text/javascript">
        window.Hatena = {
            Star: {
                SiteConfig: {
                    entryNodes: {
                        'article': {
                            uri: 'a.title-link',
                            title: 'h1.title',
                            container: 'section.hatena-star'
                        }
                    }
                }
            }
        };
    </script>
    <script async type="text/javascript" src="http://s.hatena.ne.jp/js/HatenaStar.js"></script>
</section>